@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: purple;
  --body-backgroundColor: rgb(242, 223, 242);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-size: 64.5%;
}
body {
  overflow-x: hidden;
  background-color: var(--body-backgroundColor);
}
.main {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 4rem auto;
  gap: 1rem;
  align-items: center;
  width: 80vw;
  padding: 1rem 1rem 5rem 1rem;
  border-radius: 10px;
  box-shadow: 2px 6px 8px var(--primary-color);
}
/* section contact========================================================================================================= */
.contact-section {
  text-align: center;
  font-size: 1.2rem;
}
h2 {
  font-size: 2rem;
}
ion-icon {
  font-size: 3rem;

  color: var(--primary-color);
}
.contact-block {
  display: grid;
  row-gap: 3rem;
  margin-top: 3rem;
  padding: 0 0.6rem;
  border-right: 3px solid var(--primary-color);
}
p {
  color: grey;
  font-weight: 300;
  font-size: 1.1rem;
}
/* section form ====================================== */
.form-section {
  font-size: 1.5rem;
  padding-left: 1rem;
}
.send-heading {
  margin-top: 3rem;
  color: var(--primary-color);
}
.p-form {
  font-weight: 600;
  margin: 0.5rem 0;
}
input,
textarea {
  background-color: var(--body-backgroundColor);
  border: none;
  outline: none;
  padding: 1rem;
  width: 100%;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}
button {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
}
li {
  list-style: none;
  color: white;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 40vh;
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
  width: 5rem;
  background: var(--primary-color);
}
.display-section {
  display: none;
}
@media screen and (max-width: 600px) {
  .contact-section {
    display: none;
    background-color: aqua;
  }
  .main {
    grid-template-columns: 1fr 5fr;
  }
  ion-icon {
    color: white;
  }
  .display-section {
    display: block;
  }
}
